<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OUTPUT</title>

	<<style>
    body {  background-image: url(WallPaper.jpg);
      		background-position: center;
  			background-repeat: no-repeat;
 		 	background-size: cover;
        	background-color: #000000   ;}
    </style>
</head>
<body>
	  <header>
	    <h2 style="text-align: center; color:#cccccc">Output : </h2>
	  </header>
	<br>
        <h4 style="text-align: center; color:#cccccc">Total Items = {{  total_items }}</h4>
        
        <h3 style="text-align: center; color:#cccccc">{{ output }}</h3>
	<br>
</body>
</html>